<!-- Navigation Bar at top -->
<div class="topnav">
  <div class="topnav-right">
    <a href="#Cash">Cash</a>
    <a href="#Investmentst">Investments</a>
    <a href="#MarketMoverInsights">Market Mover Insights</a>
  </div>
</div>

<h1>Net Worth Dashboard</h1>


<nav>Portfolio Manager</nav>
<div class="container">

    <section>
        <!-- LeftSide CashAccount and Investment -->
        <h1>Account Id</h1>
    </section>

    <!-- Income and Graph for Week,Month, Quarter, year Change -->
    <div>
        <h1>Income</h1>
        <app-user-income></app-user-income>
    </div>

    <!-- Right side with market and user mover and insights ( optional ) -->
    <div>
        <h1>Market Movers</h1>
        <!-- <app-top-mover></app-top-mover> -->
    </div>

</div>


<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Cash & Investments</h2>
    <p>Some text..</p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>Net Worth Insights</h2>
    <p>Our graph will go here...</p>
  </div>
  <div class="column" style="background-color:#ccc;">
    <h2>Market Movers</h2>
    <p></p>
  </div>
</div>
