<nav class="navbar">
    <h2>Portfolio Manager</h2>
    <app-select-user (userChangedEvent)="handleUserChange($event)"></app-select-user>

</nav>
<div class="container">
    
    <section>
        <!-- LeftSide CashAccount and Investment -->
        <h1>Account Id</h1>
    </section>

    <!-- Income and Graph for Week,Month, Quarter, year Change -->
    <div>
        <h1>Income</h1>
        <hr>
        <app-user-income></app-user-income>
    </div>

    <!-- Right side with market and user mover and insights ( optional ) -->
    <div>
        <h1>Market Movers</h1>
        
        <div>
            <app-top-movers></app-top-movers>
        </div>
        
        <div>
            <app-user-movers [userId]='userId' ></app-user-movers>
        </div>
    </div>

</div>
