/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;

    background-color: white;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.movers {
    height: 150px;
    overflow: auto;

}

#box {
    margin: 10px auto;
    border: 1px solid black;
    height: 80px;
    width: 130px;
    text-align: center;
}

.positive {
    color: green;
}

.negative {
    color: red;
}
